<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pattern</title>
</head>
<body>

<form method="post">
    <input type="text" name="setPattern" placeholder="valid symbols email"
           pattern="\d*"/>
    <button type="submit"> exe Pattern</button>
    <br/>
</form>


<!--  pattern="[\s_a-z A-Z 0-9]{1,}@{1}[a-z]{1,}.{1}[a-z]{1.}"
qQ1  @ только 1 раз a-z не менее раза  ТОЧКА - раз a-z -не менее 1 раз--

[a-z] диапазон откуда можно - БЕЗ квантификатора ТОЛЬКО ОДИН символ можно
[abz] из набора
^ - ИВЕРСИЯ все кроме указаного
[^a-z] все кроме a-z
\ - єкранирование - чтоб ввести некий спец символ

КВАНТИФИКАТОРS
{n} - ровно n раз
{n,m} - не менее n раз но не более m
{n,} - не менее n !!!!!!!!!
*   - ввод предыдущего символа сколько угодно раз
?   - ПУСТАЯ СТРОКА или ОДИН символ
+ не менее одного раза ???????????????? не работает

\d только ціфрі
\w символі латиниці верх низ регистр и знаки препинания
\s пробельніе символі

\D - все иніе ціфрі
\W - все кроме w
\S - все кроме пробельніх



-->
<br/>


sout Pattern :
<td th:text="${outPattern}">...</td>


</body>
</html>