<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/addMarket">
    <input type="text" name="name1" placeholder="Input market name" required/>
    <button type="submit">Add market</button>
</form>
<br>
<form method="post" action="/addGood">
    <input type="text" name="name1" placeholder="Input good name" required/>
    <input type="text" name="name2" placeholder="Input good price" required/>
    <input type="text" name="name3" placeholder="Input market name" required/>
    <button type="submit">Add good</button>
</form>
<br>

</body>
</html>